@import '../../../models/variables';



.project {
    width: auto;
    &__container{
        display: flex;
        flex-flow: column ;
        align-items: center;
        text-align: center;


        @media (max-width: 850px) {
            width: 80%;
        }

        width: 80%;
        height: auto;
        margin: 2rem;
        padding: 2rem;
        background-color: $color-main;
        border-radius: 2.5rem;
        transition: 220ms;

        box-shadow: $gradient-surrounding;   
        img{
            width: 90%;
            border-radius: 1rem;
            box-shadow: $gradient-surrounding-rev;   
         

        }
        &:hover {
            border-radius: 1rem;
        }
        &-techno{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            &-obj{
                width: 4rem;
                height: 4rem;
                box-shadow: $gradient-surrounding; 
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.5rem;
                padding: 0.5rem;
                border-radius: 1rem;
                img{
                    border-radius: 0rem;
                }
            }
        }
        h1 {
            font-size: xx-large;
            padding: 1rem;
            font-family: Coda;
        }
        p{
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 0rem 2rem 0rem 2rem;
            font-size: large;
            font-family: Coda;
        }
        a {
            @include button-style;
            width: 15rem;
            margin-bottom: 3rem;
        }
    }
}