$color-main: #ccd6ec;
//rgb(200 + random(10), 200 + random(10), 200 + random(10));
$color-main-light: lighten($color-main, 50);
$color-main-dark: darken($color-main, 25);



$color-component: rgb(33, 33, 33);
// $color-background: #d3d3d3;
// #545454
$color-background: #7d4545;
$color-lighter: #7d4545;
$color-more-light: #b3b3b3;
$color-text-dark: #050505;
$color-text-light: #f5f5f5;

$gradient-value-one: 10px;
$gradient-blur: 17px;

$color-bar: #bb2a2a;

$gradient-surrounding: (-$gradient-value-one) ($gradient-value-one) $gradient-blur $color-main-dark,
(-$gradient-value-one) (-$gradient-value-one) $gradient-blur $color-main-light;

$gradient-surrounding-rev:  inset -$gradient-value-one $gradient-value-one $gradient-blur $color-main-dark,
inset ($gradient-value-one) (-$gradient-value-one) $gradient-blur $color-main-light;

$button-surrounding: -7px 7px 14px $color-main-dark,
7px -7px 14px $color-main-light;

$button-surrounding-hover: inset -7px 7px 14px $color-main-dark,
inset 7px -7px 14px $color-main-light;


@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400&family=Source+Sans+Pro:wght@300&display=swap');

/*
font-family: 'Coda', cursive;
font-family: 'Source Sans Pro', sans-serif;
*/


@mixin button-style {
    width: 7rem;
    background-color: $color-main;
    margin: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: large;

    text-align: center;
    border-radius: 1rem;

    font-family: Coda;

    text-decoration: none;


    box-shadow: $button-surrounding;
    transition: 200ms;
    &:hover {
       // background-color: $color-more-light;
        //color: $color-text-dark;
        border-radius: 2rem;
        box-shadow: $button-surrounding-hover;
    }
}

@function textColor($color) {

    $darkness: lightness($color);


    @if $darkness < 50 {
        $result: $color-text-light;
        @return $result;
    } @else {
        $result: $color-text-dark;
        @return $result;
    }

}