@import '../../models/variables';

.mail {
    width: 90%;
    margin: 5%;
    border-radius: 1rem;
    box-shadow: $gradient-surrounding;
    display: flex;
    flex-flow: column;
    align-items: center;

    p{
        font-size: x-large;
        margin: 2rem 2rem 2rem 2rem;
        text-align: center
    }

    a {
        @include button-style;
    }
}

.skill__container {
    display: flex;
    flex-flow: row wrap;
}
app-skill-obj {
    width: 50%;
    @media (max-width: 850px) {
        width: 100%;    
    }
}