@import '/src/app/models/variables';

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

    color: textColor($color-main);

    font-family: 'Source Sans Pro';
}

body {
    background-color: $color-main;
    width: 100%;
}